= form_for @leg, url: leg_path do |f|
  - if @leg.errors.any?
    #error_explanation
      %h2= "#{pluralize(@leg.errors.count, "error")} prohibited this leg from being saved:"
      %ul
        - @leg.errors.full_messages.each do |msg|
          %li= msg

  .current-leg-score
    = @leg.score

  .actions
    - (1..20).each do |score_field|
      %a.score-field{ href: '#', data: { score: score_field } } #{score_field}
