= form_for @leg do |f|
  - if @leg.errors.any?
    #error_explanation
      %h2= "#{pluralize(@leg.errors.count, "error")} prohibited this leg from being saved:"
      %ul
        - @leg.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :rounds do |ff|
    %fieldset
      = ff.label :first_throw, '1. Wurf'
      = ff.text_field :first_throw, size: 10

      = ff.label :second_throw, '2. Wurf'
      = ff.text_field :second_throw, size: 10

      = ff.label :third_throw, '3. Wurf'
      = ff.text_field :third_throw, size: 10

  .actions
    = f.submit 'Save'
